.checkbox-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: fit-content;
  margin-top: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: start;
}
