.password-strength {
  display: flex;
  align-items: center;
  background-color: #191820;
  width: 300px;
  height: 90px;
  margin-top: 40px;
  margin-left: 10px;
}

.strength-text {
  margin-left: 10px;
  color: #807c92;
  font-size: 19px;
}
.strength-level {
  color: white;
  font-size: 19px;
  font-weight: 700;
  margin-left: auto;
}

.strength-bar-container {
  display: flex;
  flex-direction: row;
  width: 70px;
  height: 28px;
}

.first-bar {
  margin-left: 10px;
  height: 28px;
  width: 10px;
  background-color: red;
}

.second-bar {
  margin-left: 4px;
  height: 28px;
  width: 10px;
  background-color: red;
}

.third-bar {
  margin-left: 4px;
  height: 28px;
  width: 10px;
  background-color: red;
}

.fourth-bar {
  margin-left: 4px;
  height: 28px;
  width: 10px;
  background-color: red;
}
