.password-strength {
  display: flex;
  align-items: center;
  background-color: #191820;
  width: 300px;
  height: 90px;
  margin-top: 120px;
  margin-left: 10px;
}

.strength-text {
  margin-left: 10px;
  color: #807c92;
  font-size: 19px;
}
.strength-level {
  color: white;
  font-size: 19px;
  font-weight: 700;
  margin-left: auto;
}

.strength-bar-container {
  display: flex;
  flex-direction: row;
  width: 70px;
  height: 28px;
  margin-right: 20px;
}

.first-bar {
  margin-left: 10px;
  height: 28px;
  width: 10px;
  border: 2px solid hsl(252deg, 11%, 91%);
}

.second-bar {
  margin-left: 4px;
  height: 28px;
  width: 10px;
  border: 2px solid hsl(252deg, 11%, 91%);
}

.third-bar {
  margin-left: 4px;
  height: 28px;
  width: 10px;
  border: 2px solid hsl(252deg, 11%, 91%);
}

.fourth-bar {
  margin-left: 4px;
  height: 28px;
  width: 10px;
  border: 2px solid hsl(252deg, 11%, 91%);
}

.weak-level {
  background-color: red;
  border: 2px solid red;
}

.medium-level {
  background-color: #f8cb63;
  border: 2px solid #f8cb63;
}

.strong-level {
  background-color: #a3ffae;
  border: 2px solid #a3ffae;
}
